<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>OpenKGE</title>
    <meta name="description" content="Open Knowledge Graph Embeddings and Toolkits">
    <meta name="author" content="THUNLP">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
    <link href="{{{{url_for('static', filename='bootstrap/css/bootstrap.css')}}}}" rel="stylesheet">
    <link href="{{{{url_for('static', filename='fonts/font-awesome/css/font-awesome.css')}}}}" rel="stylesheet">
    <link href="{{{{url_for('static', filename='css/animations.css')}}}}" rel="stylesheet">
    <link href="{{{{url_for('static', filename='css/style.css')}}}}" rel="stylesheet">
    <link href="{{{{url_for('static', filename='css/custom.css')}}}}" rel="stylesheet">
  </head>

  <body class="no-trans">
  

        <div class="container">

          <div align="center">
            <a href="http://thunlp.org/site2/">
              <img style="margin-top:15px;margin-bottom:15px;" width="90px" id="logo" src="{{{{url_for('static', filename='images/logo1.jpg')}}}}"/>
            </a>            
          </div>
          <div align="left">
            <p class="lead text-center" style="margin-bottom:10px;"><b>OpenKGE</b></p>
          </div>
          <hr style="width:100px;margin-top:15px;margin-bottom:15px;" />
          <div align="left" class="site-slogan lead text-center">
              Open Knowledge Graph Embeddings and Toolkits Organized by THUNLP
          </div>

          <hr/>
          
          <nav>
            <ul style="float:right;margin-top:5px">
              <li style="float:left;display:inline;margin-left:20px">
                <a href="/home">Home</a></li>
              <li style="float:left;display:inline;margin-left:20px">
                <a href="/index/explore">Explore</a></li>
              <li style="float:left;display:inline;margin-left:20px">
                <a href="/index/statistics">Statistics</a></li>
              <li style="float:left;display:inline;margin-left:20px">
                <a href="/index/download">Download</a></li>
              <li style="float:left;display:inline;margin-left:20px">
                <a href="/index/api">API</a>
              </li>
              <li style="float:left;display:inline;margin-left:20px">
                <a href="/index/researchers">Researchers</a>
              </li>
              <li style="float:left;display:inline;margin-left:0px">
                <a href="/index/students">/Students</a>
              </li>
              <li style="float:left;display:inline;margin-left:20px">
                <a href="/index/publications">Publications</a>
              </li>
              <li style="float:left;display:inline;margin-left:0px">
                <a href="/index/patents">/Patents</a>
              </li>
            </ul>
          </nav>
          <h1 style="font-size:2em;">Explore</h1>



          <!-- section start -->
          <div class="section">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <iframe src="/index1.html">
                  </iframe>
                </div>
              </div>
            </div>
          </div>
        </div>





    <script type="text/javascript" src="{{{{url_for('static', filename='plugins/jquery.min.js')}}}}"></script>
    <script type="text/javascript" src="{{{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}}}"></script>
    <script type="text/javascript" src="{{{{url_for('static', filename='plugins/modernizr.js')}}}}"></script>
    <script type="text/javascript" src="{{{{url_for('static', filename='plugins/isotope/isotope.pkgd.min.js')}}}}"></script>
    <script type="text/javascript" src="{{{{url_for('static', filename='plugins/jquery.backstretch.min.js')}}}}"></script>
    <script type="text/javascript" src="{{{{url_for('static', filename='plugins/jquery.appear.js')}}}}"></script>
    <script type="text/javascript" src="{{{{url_for('static', filename='js/template.js')}}}}"></script>
    <script type="text/javascript" src="{{{{url_for('static', filename='js/custom.js')}}}}"></script>
  </body>
</html>
