<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>OpenKGE</title>
		<meta name="description" content="Open Knowledge Graph Embeddings and Toolkits">
		<meta name="author" content="THUNLP">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
		<link href="{{{{url_for('static', filename='bootstrap/css/bootstrap.css')}}}}" rel="stylesheet">
		<link href="{{{{url_for('static', filename='fonts/font-awesome/css/font-awesome.css')}}}}" rel="stylesheet">
		<link href="{{{{url_for('static', filename='css/animations.css')}}}}" rel="stylesheet">
		<link href="{{{{url_for('static', filename='css/style.css')}}}}" rel="stylesheet">
		<link href="{{{{url_for('static', filename='css/custom.css')}}}}" rel="stylesheet">
	</head>

	<body class="no-trans">
	

				<div class="container">

					<div align="center">
						<a href="http://thunlp.org/site2/">
							<img style="margin-top:15px;margin-bottom:15px;" width="90px" id="logo" src="{{{{url_for('static', filename='images/logo1.jpg')}}}}"/>
						</a>						
					</div>
					<div align="left">
						<p class="lead text-center" style="margin-bottom:10px;"><b>OpenKGE</b></p>
					</div>
					<hr style="width:100px;margin-top:15px;margin-bottom:15px;" />
					<div align="left" class="site-slogan lead text-center">
							Open Knowledge Graph Embeddings and Toolkits Organized by THUNLP
					</div>

					<hr/>
					
					<nav>
						<ul style="float:right;margin-top:5px">
							<li style="float:left;display:inline;margin-left:20px">
								<a href="/home">Home</a></li>
							<li style="float:left;display:inline;margin-left:20px">
								<a href="/index/explore">Explore</a></li>
							<li style="float:left;display:inline;margin-left:20px">
								<a href="/index/statistics">Statistics</a></li>
							<li style="float:left;display:inline;margin-left:20px">
								<a href="/index/download">Download</a></li>
							<li style="float:left;display:inline;margin-left:20px">
								<a href="/index/api">API</a>
							</li>
							<li style="float:left;display:inline;margin-left:20px">
								<a href="/index/researchers">Researchers</a>
							</li>
							<li style="float:left;display:inline;margin-left:0px">
								<a href="/index/students">/Students</a>
							</li>
							<li style="float:left;display:inline;margin-left:0px">
								<a href="/index/contact">/Contact</a>
							</li>							
							<li style="float:left;display:inline;margin-left:20px">
								<a href="/index/publications">Publications</a>
							</li>
							<li style="float:left;display:inline;margin-left:0px">
								<a href="/index/patents">/Patents</a>
							</li>
						</ul>
            		</nav>

                    <h1 style="font-size:2em;">Researchers</h1>

					<div class="row">

						<div class = "col-sm-12">
							<div class="space"></div>
							<div class="space"></div>
						</div>
						<div class = "col-sm-12">
						<div class = "col-sm-8">
							<div class = "col-sm-3"  style="margin-top:20px;">
								<img src="{{{{url_for('static', filename='photos/sms.jpg')}}}}"/>
							</div>
							<div class = "col-sm-9">
								<div class = "col-sm-12">
									<hr/>
									<h3>
										<strong>
											Maosong Sun
										</strong>
									</h3>
								</div>
								<div class = "col-sm-12" style="margin-top:5px;">
									<strong>
										Professor 
									</strong>
								</div>
								<div class = "col-sm-12" style="margin-top:5px;">
								</div>
								<div class = "col-sm-12" style="margin-top:5px;">
									<a href="http://nlp.csai.tsinghua.edu.cn" target="_blank">Natural Language Processing Lab</a>, <br/>
									<a href="http://www.cs.tsinghua.edu.cn" target="_blank">Department of Computer Science and Technology</a>, <br/>
									<a href="http://www.tsinghua.edu.cn" target="_blank">Tsinghua University</a>, Beijing, China. <br/>
								</div>
								<div class = "col-sm-12" style="margin-top:5px;">
								</div>
								<div class = "col-sm-12" style="margin-top:5px;">
									<a target="_blank" href="sms@tsinghua.edu.cn">
										sms@tsinghua.edu.cn
									</a>
								</div>
								<div class = "col-sm-12" style="margin-top:5px;">
									<a target="_blank" href="http://weibo.com/u/1970879995">
										Personal Page
									</a>
								</div>
							</div>
						</div>
						</div>

						<div class = "col-sm-12">
							<div class="space"></div>
							<div class="space"></div>
						</div>
						<div class = "col-sm-12">
						<div class = "col-sm-8">
							<div class = "col-sm-3"  style="margin-top:20px;">
								<img src="{{{{url_for('static', filename='photos/lzy.png')}}}}"/>
							</div>
							<div class = "col-sm-9">
								<div class = "col-sm-12">
									<hr/>
									<h3>
										<strong>
											Zhiyuan Liu
										</strong>
									</h3>
								</div>
								<div class = "col-sm-12" style="margin-top:5px;">
									<strong>
										Assistant Professor 
									</strong>
								</div>
								<hr/>
								<div class = "col-sm-12" style="margin-top:5px;">
								</div>
								<div class = "col-sm-12" style="margin-top:5px;">
									<a href="http://nlp.csai.tsinghua.edu.cn" target="_blank">Natural Language Processing Lab</a>, <br/>
									<a href="http://www.cs.tsinghua.edu.cn" target="_blank">Department of Computer Science and Technology</a>, <br/>
									<a href="http://www.tsinghua.edu.cn" target="_blank">Tsinghua University</a>, Beijing, China. <br/>
								</div>
								<div class = "col-sm-12" style="margin-top:5px;">
								</div>
								<div class = "col-sm-12" style="margin-top:5px;">
									<a target="_blank" href="liuzy@tsinghua.edu.cn">
										liuzy@tsinghua.edu.cn
									</a>
								</div>
								<div class = "col-sm-12" style="margin-top:5px;">
									<a target="_blank" href="http://thunlp.org/~lzy/">
										Personal Page
									</a>
								</div>
							</div>
						</div>
						</div>
					</div>

					<div class="space"></div>

					<footer id="footer">
						<div class="subfooter">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<p class="text-center"> ©2017 <a target="_blank" href="http://thunlp.org/site2/index.php/en">THUNLP</a>. All rights reserved. Tsinghua University.
										</p>
									</div>
								</div>
							</div>
						</div>
					</footer>

				</div>

			
		<script type="text/javascript" src="{{{{url_for('static', filename='plugins/jquery.min.js')}}}}"></script>
		<script type="text/javascript" src="{{{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}}}"></script>
		<script type="text/javascript" src="{{{{url_for('static', filename='plugins/modernizr.js')}}}}"></script>
		<script type="text/javascript" src="{{{{url_for('static', filename='plugins/isotope/isotope.pkgd.min.js')}}}}"></script>
		<script type="text/javascript" src="{{{{url_for('static', filename='plugins/jquery.backstretch.min.js')}}}}"></script>
		<script type="text/javascript" src="{{{{url_for('static', filename='plugins/jquery.appear.js')}}}}"></script>
		<script type="text/javascript" src="{{{{url_for('static', filename='js/template.js')}}}}"></script>
		<script type="text/javascript" src="{{{{url_for('static', filename='js/custom.js')}}}}"></script>
	</body>
</html>
